<h1 mat-dialog-title>Add Measurement</h1>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Measurement Type</mat-label>
    <mat-select [(ngModel)]="data.measurement">
      <mat-option
        *ngFor="let selector of measurementSelectors"
        [value]="selector.viewValue"
      >
        {{ selector.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Date of Measurement</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="data.date" />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Value</mat-label>
    <input matInput type="number" [(ngModel)]="data.value" />
  </mat-form-field>
</mat-dialog-content>
<div mat-dialog-actions>
  <button mat-flat-button color="primary" (click)="onNoClick()">Cancel</button>
  <button
    mat-flat-button
    color="primary"
    mat-dialog-close
    [disabled]="!data.value && !data.date && !data.measurement"
    (click)="onAddClick()"
  >
    Add
  </button>
</div>
