mat-card {
  width: 100%;
  height: 100%;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 24px;
  padding-right: 24px;
}

mat-list {
  display: flexbox;
  padding-right: 7px;
  padding-left: 7px;
  overflow-y: auto;
  overflow-x: hidden;
}

.list-element {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.remove-button {
  margin-top: auto;
  margin-bottom: auto;
}

hr {
  width: 100%;
}

.todo-formfield {
  width: 100%;
  margin-top: auto;
}

.todo-complete {
  text-decoration: line-through;
}
