<mat-card>
    <mat-card-title>
        List
    </mat-card-title>
    <mat-card-content>
        <mat-selection-list *ngFor="let item of todos" color="primary" (selectionChange)="onListSelectionChange($event)">
                <mat-checkbox  (change)="onChangeDemo($event)" class="example-margin">{{item.description}}</mat-checkbox>
        </mat-selection-list>
        <mat-form-field class="todo-formfield">
            <mat-label>Add To-Do</mat-label>
            <input matInput placeholder="Call restaurant...">
            <button color='primary' mat-icon-button matSuffix (click)="onClick()">
                <mat-icon>send</mat-icon>
              </button>
        </mat-form-field>
    </mat-card-content>
</mat-card>