mat-card {
  padding: 20px;
  height: 100%;
  width: 100%;
}

.weather-grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1rem;
}

.weather-grid-container .temp-info {
  grid-row: 1 / 3;
}

.weather-grid-container > div {
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #edf3f7;
  gap: 5px;
  border-radius: 8px;
}

.weather-grid-container .desc-text {
  color: gray;
}

.weather-grid-container .temp-info {
  background-color: #c4e2fe;
  color: #24609c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.temp-info-1,
.temp-info-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.temp-info-1 span, .temp-info-3 span {
    display: flex;
    align-items: center;
  }

.temp-info-2 .temp-data {
  font-size: 50px;
}

.temp-info-2 {
  align-self: center;
}
