<div class="container-div">
    <mat-card class="login-card">
        <h2>Login</h2>
        <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput [(ngModel)]="username" 
            (keydown.enter)="onLogin()" type="text" placeholder="Username">
            
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input matInput [(ngModel)]="password" 
            (keydown.enter)="onLogin()" [type]="(maskPassword) ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="maskPassword = !maskPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="maskPassword">
              <mat-icon>{{maskPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          
        <button mat-raised-button color="primary" (click)="onLogin()">Login</button>
    </mat-card>
  </div>