<div class="dashboard-container">
  <h1 class="mat-h1">Dashboard</h1>

  <div class="home-grid">
    <div class="todo-list-card">
      <app-list
        [listName]="todoListTitle"
        [formFieldLabel]="todoFieldLabel"
        [inputPlaceholder]="todoPlaceholder"
        [elements]="todoList"
        (newItemEvent)="addTodo($event)"
        (deleteItemEvent)="removeToDo($event)"
      ></app-list>
    </div>
    <div class="wish-list-card">
      <app-list
        [listName]="wishListTitle"
        [formFieldLabel]="wishFieldLabel"
        [inputPlaceholder]="wishPlaceholder"
        [elements]="wishList"
        (newItemEvent)="addWish($event)"
        (deleteItemEvent)="removeWish($event)"
      ></app-list>
    </div>
    <div class="weather-card">
      <app-weather-report></app-weather-report>
    </div>
    <div class="empty-card">
      <mat-card class="card-elements"><mat-card-title> Empty </mat-card-title></mat-card>
    </div>
  </div>
</div>
