<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list
    *ngFor="let card of cards | async"
    cols="{{ card.cols }}"
    rowHeight="400px"
  >
    <mat-grid-tile [colspan]="card.cols1" [rowspan]="card.rows1">
      <app-list
        class="card-elements"
        [listName]="todoListTitle"
        [formFieldLabel]="todoFieldLabel"
        [inputPlaceholder]="todoPlaceholder"
      ></app-list>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="card.cols2" [rowspan]="card.rows2">
      <app-list
        class="card-elements"
        [listName]="wishListTitle"
        [formFieldLabel]="wishFieldLabel"
        [inputPlaceholder]="wishPlaceholder"
      ></app-list>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="card.cols3" [rowspan]="card.rows3">
      <mat-card class="card-elements"></mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
