.dashboard-container {
  margin: 20px;
}

.card-elements {
  padding: 20px;
}

.home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1.5rem
}

mat-card {
  height: 100%;
  width: 100%;
}

.weather-card {
 grid-row: 1 / -1;
 grid-column: 3 / 4;
}

.empty-card {
  grid-column: span 2;
}

@media screen and (max-width: 1250px) {
  .home-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .wish-list-card {
    grid-row: 2 / 3;
  }
  .weather-card {
    grid-row: 1 / -1;
    grid-column: 2 / 3;
  }
}

@media screen and (max-width: 1025px) {
  .home-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .weather-card {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }
}