.plants-container {
  display: flex;
  gap: 30px;
  margin: 30px;
  color: #222758;
}
mat-card {
  padding: 20px;
  height: 100%;
  width: 100%;
}
.plant-list {
  flex-basis: 25%;
}

.plant-description {
  flex-basis: 75%;
}

.plant-list-view {
  cursor: pointer;
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.plant-list-icon {
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #f1f7f2;
}

.plant-list-icon img {
  height: 40px;
  width: 40px;
}

.plant-list-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.plant-desc-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.plant-list-info span {
  color: gray;
}

.plant-desc-image img {
  height: 200px;
  width: 200px;
}

.plant-desc-info .plant-name {
  font-size: 30px;
  font-weight: bold;
}

.plant-info-overview {
  margin-top: 20px;
}

.plant-description-view {
  display: flex;
  gap: 50px;
  align-items: center;
}

.plant-description-card {
  padding: 40px;
}

.plant-overview {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.success {
  color: rgb(29, 141, 29);
}

.plant-overview > div {
  flex-basis: 50%;
  padding: 15px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.plant-overview-icon {
  border-radius: 24px;
  padding: 7px 9px 4px;
  background-color: #ffe8e8;
}

@media screen and (max-width: 1025px) {
  .plants-container {
    flex-direction: column-reverse;
  }
  .plant-description-view {
    flex-direction: column;
  }
}
