mat-card {
  width: 500px;
  height: 250px;
  padding: 14px;
  display: grid;

  justify-content: center;
}

.textItem {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
}

.fabItem {
  grid-column-start: 5;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 2;
}

mat-card-title {
  font-size: 16px;
  font-size: 1em;
}

p {
  font-size: 16px;
  font-size: 1em;
}
