mat-card {
  margin: auto;
  width: 95%;
  min-width: fit-content;
  min-height: fit-content;
  vertical-align: middle;
  padding: 15px;
  bottom: 0px;
  display: grid;
  /* justify-content: space-around; */
}
mat-card-title {
  font-size: 20px;
}

p {
  font-size: 16px;
  font-size: 1em;
}

.metric-top {
  display: flex;
  justify-content: space-between;
}


