<div class="color-block">
  <div class="grid-container">
    <div class="measurement-div">
      <button mat-raised-button color="warn" (click)="openMeasurementDialog()">
        Add Measurement
      </button>
    </div>
    <mat-grid-list cols="1" gutterSize="8px">
      <mat-grid-list
        class="top-tiles"
        cols="3"
        gutterSize="8px"
        rowHeight="3:1"
      >
        <mat-grid-tile>
          <app-solo-metric
            class="top-card-elements"
            [title]="weightTitle"
            [valueTitle]="weightValueTitle"
            [value]="weights[0].weight"
            [date]="weights[0].date.toLocaleString()"
          ></app-solo-metric>
        </mat-grid-tile>
        <mat-grid-tile>
          <app-solo-metric
            class="top-card-elements"
            [title]="heartRateTitle"
            [valueTitle]="heartRateValueTitle"
            [value]="heartRates[0].heartrate"
            [date]="heartRates[0].date.toLocaleString()"
          ></app-solo-metric>
        </mat-grid-tile>
        <mat-grid-tile>
          <app-solo-metric
            class="top-card-elements"
            [title]="bloodPressureTitle"
            [valueTitle]="bloodPressureValueTitle"
            [value]="bloodPressures[0].pressure"
            [date]="bloodPressures[0].date.toLocaleString()"
          ></app-solo-metric>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list
        class="graph-tiles"
        cols="2"
        gutterSize="8px"
        rowHeight="1.5:1"
      >
        <mat-grid-tile>
          <app-graph class="bottom-card-elements"></app-graph>
        </mat-grid-tile>
        <mat-grid-tile>
          <app-datatable class="bottom-card-elements"></app-datatable>
        </mat-grid-tile>

        <mat-grid-tile>
          <app-graph class="bottom-card-elements"></app-graph>
        </mat-grid-tile>
        <mat-grid-tile>
          <app-datatable class="bottom-card-elements"></app-datatable>
        </mat-grid-tile>

        <mat-grid-tile>
          <app-graph class="bottom-card-elements"></app-graph>
        </mat-grid-tile>
        <mat-grid-tile>
          <app-datatable class="bottom-card-elements"></app-datatable>
        </mat-grid-tile>

        <mat-grid-tile>
          <app-graph class="bottom-card-elements"></app-graph>
        </mat-grid-tile>
        <mat-grid-tile>
          <app-datatable class="bottom-card-elements"></app-datatable>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-grid-list>
     
  </div>
</div>
