<div class="grid-container">
  <mat-grid-list cols="1" gutterSize="14px">
    <mat-grid-list class="top-tiles" cols="3" gutterSize="14px" rowHeight="2:1">
      <mat-grid-tile>
        <app-solo-metric></app-solo-metric>
      </mat-grid-tile>
      <mat-grid-tile>
        <!-- <mat-card>Weight</mat-card> --><app-solo-metric
        ></app-solo-metric>
      </mat-grid-tile>
      <mat-grid-tile>
        <!-- <mat-card>BloodPressure </mat-card> --><app-solo-metric
        ></app-solo-metric>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list
      class="bottom-tiles"
      cols="2"
      gutterSize="14px"
      rowHeight="1.5:1"
    >
      <mat-grid-tile>
        <!-- <mat-card>HeartRate</mat-card> --><app-solo-metric
        ></app-solo-metric>
      </mat-grid-tile>
      <mat-grid-tile>
        <!-- <mat-card>Weight</mat-card> --><app-solo-metric
        ></app-solo-metric>
      </mat-grid-tile>
      <mat-grid-tile>
        <!-- <mat-card>BloodPressure</mat-card> --><app-solo-metric
        ></app-solo-metric>
      </mat-grid-tile>
      <mat-grid-tile>
        <!-- <mat-card>4</mat-card> --><app-solo-metric
        ></app-solo-metric>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-grid-list>
</div>
