<div class="color-block">
  <div class="top-container">
    <div class="measurement-div">
      <button mat-raised-button color="warn" (click)="openMeasurementDialog()">
        Add New Measurement
      </button>
    </div>
    <div class="health-grid-cards">
      <app-solo-metric
        class="top-card-elements"
        [title]="weightTitle"
        [valueTitle]="weightValueTitle"
        [value]="weights[0].weight"
        [date]="weights[0].date.toLocaleString()"
      ></app-solo-metric>

      <app-solo-metric
        class="top-card-elements"
        [title]="heartRateTitle"
        [valueTitle]="heartRateValueTitle"
        [value]="heartRates[0].heartrate"
        [date]="heartRates[0].date.toLocaleString()"
      ></app-solo-metric>

      <app-solo-metric
        class="top-card-elements"
        [title]="bloodPressureTitle"
        [valueTitle]="bloodPressureValueTitle"
        [value]="bloodPressures[0].pressure"
        [date]="bloodPressures[0].date.toLocaleString()"
      ></app-solo-metric>

      <app-solo-metric
        class="top-card-elements"
        [title]="musclePercentTitle"
        [valueTitle]="musclePercentValueTitle"
        [value]="musclePercent[0].bmi"
        [date]="musclePercent[0].date.toLocaleString()"
      ></app-solo-metric>
    </div>
  </div>
    <div class="health-grid-graph-table">
      <app-graph class="bottom-card-elements" [chartOptions]="weightChartOptions"></app-graph>
      <app-graph class="bottom-card-elements" [chartOptions]="heartRateChartOptions"></app-graph>
      <app-graph class="bottom-card-elements" [chartOptions]="fatRateOptions"></app-graph>
      <app-graph class="bottom-card-elements" [chartOptions]="muscleRateChartOptions"></app-graph>
      <app-datatable class="bottom-card-elements" [title]="weightResponse.title" [displayedColumns]="weightResponse.displayedColumns" [dataSource]="weightResponse.data"></app-datatable>
      <app-datatable class="bottom-card-elements" [title]="heartRateResponse.title" [displayedColumns]="heartRateResponse.displayedColumns" [dataSource]="heartRateResponse.data"></app-datatable>
      <app-datatable class="bottom-card-elements" [title]="musclePercentResponse.title" [displayedColumns]="musclePercentResponse.displayedColumns" [dataSource]="musclePercentResponse.data"></app-datatable>
      <app-datatable class="bottom-card-elements" [title]="fatPercentageResponse.title" [displayedColumns]="fatPercentageResponse.displayedColumns" [dataSource]="fatPercentageResponse.data"></app-datatable>
     
    </div>

</div>
