mat-grid-tile {
  background-color: pink;
  display: block;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  align-content: center;
  align-self: center;
  margin: auto;
  padding: auto;
  flex-direction: column;
}

.grid-container {
  margin: 8px;
}

.top-tiles {
  margin-bottom: 8px;
}

.card-elements {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
}
