mat-grid-tile {
  display: inline-flex;
}

.color-block {
  position: absolute;
  background-color: grey;
  width: 100%;
  height: 350px;
  margin-top: 0px;
  align-content: stretch;
}

.measurement-div {
  width: 100%;
  margin: 24px;
  text-align: center;
}

.measurement-div button {
  margin: 12px;
}

.grid-container {
  margin: 8px;
}

.top-tiles {
  margin-bottom: 8px;
  display: inline-flexbox;
  justify-content: flex-start;
  height: 10%;
}

.top-card-elements {
  width: calc(100% - 10px);
}

.bottom-card-elements {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
}

.bottom-tiles {
}
