.health-grid-cards {
  margin: 0 40px;
  padding: 5px 0 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.health-grid-graph-table {
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.measurement-div {
  text-align: center;
  padding: 40px 0 20px;
}

.top-container {
  background-color: #101e36;
}

@media screen and (max-width: 1076px) {
  .health-grid-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .health-grid-graph-table {
    grid-template-columns: repeat(1, 1fr);
  }
  
}

@media screen and (max-width: 600px) {
  .health-grid-cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }

  .health-grid-graph-table {
    margin: 10px;
  }
}

